<header class="absolute top-0 left-0 w-full z-40">

    <div class="max-w-7xl px-24">

        <div class="relative flex items-start justify-between h-68 md:h-74 xl:h-84">
            <div>
                <img src="{{ 'assets/images/logo.svg' | theme }}" alt="Sonar Expert Logo" class="max-[347px]:h-60 w-full h-68 md:h-74 xl:h-84">
            </div>
            <nav class="absolute top-28 right-0 md:top-32 xl:top-35 z-50">
                <ul class="flex flex-col xl:flex-row space-y-30 md:space-y-34 xl:space-y-0 xl:space-x-40 text-right xl:text-left">
                    <li>
                        <a href="#about" class="nav-link">
                            Über uns
                        </a>
                    </li>
                    <li>
                        <a href="#services" class="nav-link">
                            Leistungen
                        </a>
                    </li>
                    <li>
                        <a href="#projects" class="nav-link">
                            Projekte & Referenzen
                        </a>
                    </li>
                    <li>
                        <a href="#contacts" class="nav-link">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</header>
