<section class="w-full max-[414px]:h-800 max-[480px]:h-760 max-[462px]:h-700 h-650 md:h-710 xl:h-810 isolate overflow-hidden relative">
    <video autoplay muted loop playsinline poster="{{ homepage.hero_video_poster | resize(1400, false) }}" class="absolute top-1/2 left-1/2 min-w-full min-h-full w-auto h-auto -translate-x-1/2 -translate-y-1/2 object-cover z-0">
        <source src="{{ homepage.hero_video_webm.path }}" type="video/webm">
        <source src="{{ homepage.hero_video_mp4.path }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="absolute inset-0 bg-[#211D1E]/40 z-10"></div>

    <div class="container mx-auto px-24 z-20 h-full relative flex">
        <div class="hero-content flex flex-col justify-end mb-68 md:mb-84 xl:mb-96">
            <h1 class="hero-title-animation h1 text-white">
                {{ homepage.hero_title | raw }}
            </h1>
            <div class="hero-description-animation mt-36 md:mt-40 xl:mt-44">
                <p class="text-base uppercase text-white">
                    {{ homepage.hero_description }}
                </p>
            </div>
            <div class="hero-buttons-animation mt-44">
                <div class="grid-layout max-[480px]:gap-y-12">
                    <div class="max-[480px]:col-span-full col-span-2 xl:col-span-3">
                        <a href="#projects" class="btn-hero">
                            Unsere projekte
                        </a>
                    </div>
                    <div class="max-[480px]:col-span-full col-span-2 xl:col-span-3">
                        <a href="#services" class="btn-hero">
                            Dienstleistungen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
